.nav {
    color: white;
    background-color: #111;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.nav-bar {
    display: flex;
}
ul {
    list-style: none;
    display: flex;
    width: 100%;
}
ul li {
    margin-right: 50px;
    padding: 1.5%;
}
.logo {
    padding: 2%;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
}
.active {
    color: rgb(193, 193, 193);
}

.btn-nav {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    background-color: #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
}
/*-------------------------------------------------*/
.container {
    display: grid;
    width: 60%;
    height: 100%;
    padding-top: 100px;
    padding-left: 20%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-rows: 100px;
    grid-template-areas:
    "a a a b"
    "a a a b"
    "a a a e"
    "c c c e"
}
.box1,.box2,.box3,.box4 {
    border: 2px solid black;
}
.box1 {
    grid-area: a;
}
.box1 .profile-bar {
    width: 100%;
    height: 30%;
    background-color: #3376c4;
}
.profile-pic {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 35%;
    left: 23%;
}
.loc-logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 51.5%;
    left: 22%;
}
.position {
    position: absolute;
    top: 49.7%;
    left: 24.5%;
    font-size: 1.3em;
}
.info {
    position: absolute;
    top: 52%;
    left: 22.6%;
    font-size: 1.3em;
}
.gear {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 67%;
    left: 22.4%;
}
.link-profile {
    position: absolute;
    top: 67.8%;
    left: 24.7%;
}
/*-------------------------------------------------*/
.box2 {
    grid-area: c;
}
.box2-bar {
    height: 30px;
    background-color: #111;
}
.box2-title {
    position: absolute;
    top: 73.5%;
    left: 21%;
    color: white;
}
.box2-content {
    position: absolute;
    top: 79%;
    left: 20.7%;
}
.date {
    position: absolute;
    top: 81.5%;
    left: 20.7%;
    color: grey;
}
.another-content {
    position: absolute;
    top: 84.1%;
    left: 20.7%;
}
/*-------------------------------------------------*/
.box3 {
    grid-area: b;
}
.notfication-number {
    position: absolute;
    top: 28.1%;
    right: 32.1%;
    border-radius: 50%;  
}
.box3-title {
    position: absolute;
    top: 25.5%;
    right: 24%;
    color: white;
}
.small-profile-pic {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
}
.name1 {
    position: absolute;
    top: 34.5%;
    right: 28%;
}
.interact-btn {
    position: absolute;
    display: inline;
    top: 33.5%;
    right: 22%;
}
.interact-btn button {
    border-radius: 50%;
    color: white;
    background-color: grey;
    cursor: pointer;
}
.check-btn {
    width: 30px;
    height: 30px;
}
/*------------------------*/
.small-profile-pic-2 {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    right: 31.6%;
}
.name2 {
    position: absolute;
    top: 40.9%;
    right: 28%;
}
.interact-btn-2 {
    position: absolute;
    display: inline;
    top: 40%;
    right: 22%;
}
.interact-btn-2 button {
    border-radius: 50%;
    color: white;
    background-color: grey;
    cursor: pointer;
}
.check-btn {
    width: 30px;
    height: 30px;
}
/*-------------------------------------------------*/
.box4 {
    grid-area: e;
}
.notfication-number-box4 {
    position: absolute;
    top: 60.5%;
    right: 31%;
    border-radius: 50%;  
}
.Adrien-pic,.Anne-pic,.Alayne-pic,.Arry-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.Adrien-pic {
    position:absolute;
    top: 66%;
    right: 31.6%;
}
.Adrien {
    position: absolute;
    top: 66.7%;
    right: 27%;
}
